@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.card-author {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #79d2e5;
  margin-top: 7px;
  opacity: 0.5;
  margin-left: 10px;
}
.card-body {
  padding: 0;
  width: 200px;
  height: 300px;
  background: #223a59d9;
  border: 1px solid #79d2e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 17px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.card-body:hover {
  box-shadow: 0px 4px 17px 3px rgba(0, 0, 0, 0.7);
  transform: scale(1.03);
}

.card-name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #79d2e5;
  margin-left: 10px;
}
.card-price {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #79d2e5;
  margin-left: 10px;
}
.card-thumbnail {
  width: 100%;
  object-fit: contain;
}
.card-thumbnail-container {
  width: 140px;
  height: 140px;
  display: flex;
  align-self: center;
  overflow: hidden;
  margin-top: 10px;

  border: 1px solid rgba(121, 210, 229, 0.19);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.createBg {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    76.01% 71.78% at 50% 31.79%,
    #324159 0%,
    #303c4f 31.2%,
    #2e3542 53.67%,
    #272b33 89.04%,
    #23252b 100%
  );
}

.homeBg {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: radial-gradient(
    89.91% 80.13% at 72.64% 47.61%,
    #324159 0%,
    #303c4f 47.92%,
    #2e3542 76.04%,
    #23252b 100%
  );
  display: flex;
  align-items: center;
}

.marketplaceBg {
  margin: 0;
  padding: 65px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    76.01% 71.78% at 50% 31.79%,
    #324159 0%,
    #303c4f 31.2%,
    #2e3542 53.67%,
    #272b33 89.04%,
    #23252b 100%
  );
}
